<p>
    <center>
        <img src="https://gitlab.com/PassTheMayo/cord.js/raw/master/yadl.js.png" alt="YADL.js logo">
    </center>
</p>

YADL.js - Yet Another Discord Library
=====================================

YADL.js is a Discord library. Yet another one.

The library is designed to be a mix of discord.js and Eris while still being its own unique library.

Documentation:
==============

{{>main}}

* * *

YADL.js &copy; LewisTehMinerz and PassTheMayo 2017